.track-delivery-container {
  padding: 60px;
}

.tracking-layout {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.status-steps {
  display: flex;
  width: 50%;
  max-width: 600px;
  margin-bottom: 20px;
  padding: 0 10px;
}

.delivery-image-res {
  width: 75px; 
  height: auto;
  margin: 0 10px; 
  object-fit: contain; 
}

.step {
  display: flex;
  align-items: center;
  gap: 20px;
}

.step.active {
  opacity: 1;
  font-weight: bold;
}

.step.completed  {
  opacity: 1;
 
}


.map-preview {
  width: 50%; 
  text-align: center;
}

.map-preview img {
  width: 300px;
  height: auto;
  border-radius: 8px;
}

.map-preview {
  margin-top: 20px;
}
#live-map {
  border: 1px solid #ccc;
  border-radius: 8px;
  height: 500px;  /* Increased height */
  width: 100%;    /* Full width of the container */
}



.status-info {
  align-items: center;
  gap: 10px; 
}